<?xml version="1.0"?>
<model>
  <name>labyrinth</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>
  <description>
    A labyrinth model for Gazebo simulation.
  </description>
  <author>
    <name>Aruzhan</name>
    <email>aruzhan.karekeshova@nu.edu.kz</email>
  </author>
  <!-- You can add more metadata if needed -->
</model>
